/* ./src/input.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
   font-family: 'Poppins', sans-serif;
}

body::-webkit-scrollbar {
   display: none;
}

body {
   -ms-overflow-style: none;
   /* IE and Edge */
}

html {
   scroll-behavior: smooth;
}